body
    {
        display: inline-block;
        
        background-color: #044F90;
        font-family: monospace;
        color: white;
        width:100%
    }
.container
    {
        margin-top: 50px;
        display: inline-block;
        width: 700px;
        margin-left: calc((100% - 700px) / 2);
        
    }
.top-text
    {   width: 100%;
        display: inline-block;
        text-transform: capitalize;
        text-align: center;
        font-size: 35px;
    }
.bottom-text
    {   
    margin-top: 50px;
    width: 100%;
    display: inline-block;
    text-transform: capitalize;
    text-align: center;
  
    }
.left-column
    {
    display: inline-block;
    height: 400px;
        width: 47%;
        text-align: center;
        background-color: violet;
       
    }
.form-left
    {
        display: inline-block;
       
        
        
     
    } 
.right-column{
    height: 400px;
  float: right;
    width: 47%;
    text-align: center;
    background-color: wheat;

}
.form-right{
    display: inline-block;

}
.header-form{
    text-transform: capitalize;
    margin-bottom: 20px;
}
.input-field{
    display: inline-block;
    text-align: center;
    border:none;
    background-color: transparent;
    margin: 10px 20px 10px 20px;
    padding: 10px 50px 10px 50px;
    border-bottom: solid white;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.link{
    display: inline-block;

}
.button{
    display: inline-block;
    padding: 10px 50px 10px 50px;
    margin: 10px 20px 10px 20px;
}
