body
    {
        display: inline-block;
        margin-top: 100px;
        background-color: #044F90;
        font-family: monospace;
        color: white;
        width:100%
    }
.container
    {
        
        display: inline-block;
        width: 600px;
        margin-left: calc((100% - 600px) / 2);
        
    }
.top-text
    {   width: 100%;
        display: inline-block;
        text-transform: capitalize;
        text-align: center;
        font-size: 35px;
    }
.bottom-text
    {   
    width: 100%;
    display: inline-block;
    text-transform: capitalize;
    text-align: center;
  
    }
.left-column
    {
    display: inline-block;
        width: 47%;
        text-align: center;
        background-color: violet;
       
    }
.form-left
    {
        display: inline-block;
       
        
        
     
    } 
.right-column{
  float: right;
    width: 47%;
    text-align: center;
    background-color: wheat;

}
.form-right{
    display: inline-block;

}