body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body
    {
        display: inline-block;
        margin-top: 40px;
        background-color: #D1C3E4;
        font-family: monospace;
        color: white;
        width:100%
    }
    
.container
    {
        margin-top: 80px;
        display: inline-block;
        width: 700px;
        margin-left: calc((100% - 700px) / 2);
        
    }
.top-text
    {   width: 100%;
        display: inline-block;
        text-transform: capitalize;
        text-align: center;
        font-size: 35px;
    }
.bottom-text
    {   
    margin-top: 50px;
    width: 100%;
    display: inline-block;
    text-transform: capitalize;
    text-align: center;
  
    }
.left-column
    {
    background-image: url(../img/kalnai.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 400px;
        width: 47%;
        text-align: center;
        background-color: violet;
       
    }
.form-left
    {
        display: inline-block;
       
        
        
     
    } 
.right-column{
    background-image: url(../img/kalnai.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
  float: right;
    width: 47%;
    text-align: center;
    background-color: wheat;

}
.form-right{
    display: inline-block;

}
.header-form{
    text-transform: capitalize;
    margin-bottom: 20px;
}
.input-field{
    display: inline-block;
    text-align: center;
    border:none;
    background-color: transparent;
    margin: 10px 20px 10px 20px;
    padding: 10px 50px 10px 50px;
    border-bottom: solid white;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.link{
    display: inline-block;
    color:white;
    margin-top: 20px;
    vertical-align : bottom;
}
.button{
    border-radius: 20px;
    display: inline-block;
    padding: 10px 0 10px 0;
    margin-top: 20px;
    width: 90%;
    font-size: 18px;
}
footer
{
    margin-top: 30px;
}
#button-form-left
{
margin-top: 70px;
}
#link 
{
    margin-top: 88px;
}